<header class="main-header row between-xs">
  <a ui-sref="search">
    <h2 class="logo">diff<span class="logo-accent">r</span></h2>
  </a>
  <a type="button" class="btn-clear btn-nav btn-clear-rich" ui-sref="search">
    Back
  </a>
</header>

<section class='view-compare has-header'>

  <ul class="compare-list">

    <div ng-if="!compare.comparedPhotosList[0]">
      <h3 class="message-compare">
        You haven't got anything to <a class='btn-clear-rich' ui-sref='search'>compare</a> yet!
      </h3>
      <icon-add-compare class='icon-compare'></icon-add-compare>
    </div>

    <li ng-repeat="imageUrl in compare.comparedPhotosList" class="compare-item zoom">

      <div style="background: #f8f8f8 url({{ imageUrl }}) no-repeat center center" class="compare-item-photo"></div>
      <div class="compare-details-bar">
        <a ng-href="{{ imageUrl }}" class="compare-item-url" target="_blank">{{ imageUrl }}</a>
        <button type="text" class="btn-clear" ng-click="compare.removeComparedPhoto(imageUrl)">
          <i class="icon ion-close-round delete-text"></i>
        </button>
      </div>

    </li>

  </ul>

</section>
