// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------


.test {
  color: blue;
}

.test-h1 {
  color: green;
}

.test-h2 {
  color: red;
}
