<section class='view-search has-subheader'>

  <div class='section-search-photos'>

    <div class='sub-header'>
      <input type='search' ng-model='search.searchPhotos' placeholder='Search photos to compare' />
      <button type="button" class="btn-block btn-block-rich">
        Recents <i class="icon ion-chevron-down"></i>
        </button>
    </div>

    <div class="photo-stream">
      <ul>
        <li ng-repeat='photo in search.filteredPhotos'></li>
      </ul>
    </div>

  </div>

</section>
