// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.view-search {
  .btn-block {
    min-width: 120px;
    height: 61px;
  }
  .photo-stream {
    width: 33%;
  }
}
