// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.view-search {
  margin: 0 auto;
  .btn-block {
    width: 120px;
    height: 59px;
  }
  .delete-text {
    position: absolute;
    top: 15px;
    right: 150px;
    padding: 0;
  }
  width: 100%;
  max-width: 960px;
}

.photo-stream {
  @media screen and (max-width: 960px) {
    padding: 0 20px;
  }
}

.view-compare {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
