// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.view-search {
  margin: 0 auto;
  .btn-block {
    width: 120px;
    height: 57px;
  }
  width: 100%;
  max-width: 960px;
}
