@import 'animate-css';

// [ui-view] {
//   $modal-duration: 0.66s;
//   transition: all $modal-duration ease-in;
//   &.ng-enter {
//     .view-compare {
//       animation: $modal-duration slideInLeft;
//     }
//     // .view-search {
//     //   animation: $modal-duration slideOutLeft;
//     // }
//   }
//   &.ng-leave {
//   //   .view-compare {
//   //     animation: $modal-duration slideOutLeft;
//   //   }
//   //   .view-search {
//   //     animation: $modal-duration slideInLeft;
//   //   }
//   // }
// }

.slide {
  $slide-duration: 0.33s;
  transition: all $slide-duration ease-in;
  &.ng-enter {
    transform: translateX(30px);
  }
  &.ng-enter-active {
    transform: translateX(0);
  }
  &.ng-leave {
    transform: translateX(0);
  }
  &.ng-leave-active {
    transform: translateX(30px);
  }
}

.fade {
  $slide-duration: 0.5s;
  transition: all $slide-duration ease-out;
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.zoom {
  $slide-duration: 0.5s;
  transition: all $slide-duration ease-out;
  &.ng-leave {
    animation: zoomOut $slide-duration;
  }
}



// Keyframes
// -------------------------------

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
