// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.photo-details-bar {
  width: 100%;
  .btn-quater {
    height: 75px;
    width: 75px;
  }
}
