// Functions
// -------------------------------



// Mixins
// -------------------------------



// Presentational
// -------------------------------

*, *::before, *::after {
  box-sizing: border-box;
}

section {
  display: block;
}

button {
  outline: none;
  border: none;
  &:active {
    opacity: 0.5;
  }
}

textarea, input {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
