// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.main-header {
  background: $subtle;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.has-header {
  position: relative;
  top: 52px;
}

.sub-header {
  position: fixed;
  width: 100%;
  top: 67px;
  display: flex;
  max-width: 960px;
  z-index: 100;
}

.has-subheader {
  position: relative;
  top: 131px;
}

.photo-stream-header {
  margin: 30px 0 15px;
  font-size: $font-size-medium;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  border-bottom: 3px solid $dark;
  text-align: right;
}
