// Functions
// -------------------------------



// Mixins
// -------------------------------



// Extends
// -------------------------------



// Presentational
// -------------------------------

.logo {
  color: $rich;
  display: inline-block;
}

.logo-accent {
  color: $punch;
}

.icon-stacked-photos, .icon-add-photos {
  transform: rotate(180deg);
  width: 40px;
}

.icon-add-photos {
  width: 50px;
  position: relative;
  top: 9px;
  right: 4px;
  transform: rotate(180deg);
}

.svg-view-photos {
  fill: $rich;
}

.delete-text {
  font-size: 1.5em;
  transition: 0.17s ease-out;
  color: $danger;
  &:hover, &focus {
    color: darken($danger, 15);
  }
}
