// Functions
// -------------------------------



// Mixins
// -------------------------------



// Extends
// -------------------------------



// Presentational
// -------------------------------

.logo {
  color: $rich;
  display: inline-block;
}

.logo-accent {
  color: $punch;
}

.icon-stacked-photos, .icon-add-photos {
  transform: rotate(180deg);
  width: 40px;
}

.icon-add-photos {
  width: 50px;
  position: relative;
  top: 9px;
  right: 4px;
  transform: rotate(180deg);
}

.svg-view-photos {
  fill: $rich;
}

.delete-text {
  position: absolute;
  top: 15px;
  right: 150px;
  font-size: 1.5em;
  color: $rich;
}
