// Functions
// -------------------------------



// Mixins
// -------------------------------



// Presentational
// -------------------------------



// Text




// Password




// Search


input[type='search'] {
  flex-grow: 1;
  height: 100%;
  padding: 20px;
}
