// Functions
// -------------------------------




// Mixins
// -------------------------------




// Presentational
// -------------------------------

.photo-list {
  margin: 0;
}

.recent-list {
  margin: 0;
  width: 120px;
}
